#products {
  padding-top: 100px;
  padding-bottom: 30px;
}

#products .contents {
  padding-bottom: 20px;
}

#products .contents .headline {
  text-decoration: none;
  color: inherit;
  padding-bottom: 20px;
  padding-top: 20px;
}